@page
@model Study_Planner_WebApp.Pages.Records.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>RecordData</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="RecordData.mCode" class="control-label"></label>
                <input asp-for="RecordData.mCode" class="form-control" />
                <span asp-validation-for="RecordData.mCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordData.hoursRecorded" class="control-label"></label>
                <input asp-for="RecordData.hoursRecorded" class="form-control" />
                <span asp-validation-for="RecordData.hoursRecorded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecordData.studyDate" class="control-label"></label>
                <input asp-for="RecordData.studyDate" class="form-control" />
                <span asp-validation-for="RecordData.studyDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
